:root {
    --background-main-color: #FFFFFF;
    --background-fourth-color: #404BBF;
    --background-third-color: #2E2F42;
    --background-secondary-color: #f4f4fd;
    --background-fifth-color: rgba(46, 47, 66, 0.70);
    --background-sixth-color: #31D0AA;
    --font-heading: 'Raleway', serif;
    --font-text: 'Roboto', sans-serif;
    --font-third-color: #404BBF;
    --font-secondary-color: #434455;
    --font-main-color: #2E2F42;
    --brand-color: #4D5AE5;
    --border-secondary-color: #8E8F99;
    --border-main-color: #E7E9FC;
    --dairy: #FCFCFC;
    --modal: rgba(46, 47, 66, 0.40);
    --tr-function: cubic-bezier(0.4, 0, 0.2, 1);
    --tr-duration: 250ms;
    --transition: var(--tr-function) var(--tr-duration);
}

.fillter-contact-1 a:hover,
.fillter-contact-2 a:hover {
    color: var(--brand-color);
}

.fillter-contact-1 a:focus,
.fillter-contact-2 a:focus {
    color: var(--brand-color);
}


.fillter-links:hover,
.fillter-links:focus {
    color: var(--brand-color);
}


.social-links button:focus,
.social-links button:hover {
    color: var(--background-main-color);
    background: var(--background-fourth-color);

}

.portfolio-list-hover:hover,
.portfolio-list-hover:focus {
    transition: color var(--transition), background-color var(--transition),
        box-shadow var(--transition);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.container {
    min-width: 320px;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.child {
    display: flex;
    flex-direction: row;

}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

header {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
    background: var(--background-main-color);
}

body {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    background: var(--background-main-color);

}

.hidden-heading {
    visibility: hidden;
}

a:link {
    text-decoration: none;
}

button {
    padding: 0;
    border: 0;
    text-decoration: none;
    appearance: none;
    background-color: transparent;

}

label {
    position: relative;
    ;
}

.fillter-web-links {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0px;
    gap: 40px;
    width: auto;
    flex-shrink: 0;
}


.head-links {
    display: flex;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 26px;
}


.fillter-contact-links {
    display: flex;
    color: var(--font-secondary-color);
    /* Body */
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    gap: 40px;
    /* 150% */
    letter-spacing: 0.23px;
    padding: 0;
    margin: 0;
    padding-left: 332px;
}

.fillter-contact-2 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}

.fillter-contact-1 a,
.fillter-contact-2 a {
    width: 153px;
    display: flex;
    color: var(--font-secondary-color);
    /* Body */
    font-family: var(--font-text);
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.23px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.fillter-studio {
    width: 44px;
    color: var(--brand-color);
    font-family: var(--font-heading);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.fillter-logo-links {
    display: flex;
    align-items: center;
    width: fit-content;
    align-items: center;
    flex-shrink: 0;
    padding-right: 76px;
}

.fillter-logo-links-bottom {
    display: flex;
    align-items: center;
    width: fit-content;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 16px;
    margin: 0;
}


.fillter-links {
    color: var(--font-main-color);
    /* Body Medium */
    font-family: var(--font-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    gap: 40px;
    align-items: flex-start;
    /* 150% */
    letter-spacing: 0.02em;
    position: relative;
    padding: 30px 0;
}

.slt-line {
    color: var(--brand-color);
    position: relative;
}

.slt-line::after {
    content: "";
    background-color: var(--background-fourth-color);
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    position: absolute;
}

.crnt {
    position: relative;
}

.fillter-name {
    display: inline-flex;
    padding-right: auto;
    width: 71px;
    padding-left: 0px;
    color: var(--font-main-color);
    font-family: var(--font-heading);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.main-info {
    display: flex;
    background: var(--font-main-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(/goit-markup-hw-04/images/office-people.jpg);
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 188px 0;
}

.fillter-service-btn {
    color: var(--background-main-color);
    /* Button Text */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.64px;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--brand-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;

}

.fillter-service-btn:hover,
.fillter-service-btn:focus {
    background-color: var(--background-fourth-color);
    transition: var(--transition);
}


.fillter-icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    padding: 25px 0px 23px 0px;
    background: var(--background-secondary-color);
    border-radius: 4px;
}

.fillter-icons {
    display: flex;
    width: 64px;
    height: 64px;
}

.fillter-business {
    display: flex;
    width: 496px;
    color: var(--background-main-color);
    text-align: center;
    /* Header 1 */
    font-family: var(--font-text);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 1.12px;
    margin-bottom: 48px;
}


.fillter-order-service {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    background: none;
    color: var(--brand-color);
    text-align: center;
    /* Button Text */
    font-family: var(--font-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    cursor: pointer;
    padding-top: 48px;
}

.side-info {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 24px;
    flex-direction: row;
    padding-top: 120px;
    padding-bottom: 120px;
}

.fillter-paragraph {
    display: flex;
    width: 264px;
    color: var(--font-main-color);
    /* Header 3 */
    font-family: var(--font-text);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    margin: 0px;
}

.fillter-row-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.studio-info {
    width: 1128px;
    flex-shrink: 0;
    padding-top: 552px;
}

.fillter-team-section {
    padding-top: 120px;
    background: var(--background-main-color);
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-main-color);
    text-align: center;
    /* Header 2 */
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-bottom: 120px;
    flex-direction: column;
}

.team-position {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;

}

.fillter-team-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.socialmedia-list {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.fillter-social-img {
    border-radius: 0px 0px 4px 4px;
    background: var(--background-main-color);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    margin-bottom: 32px;
}

.social-icon {
    text-align: center;
}


.fillter-team-names {
    color: var(--font-main-color);
    text-align: center;
    /* Header 3 */
    font-family: var(--font-text);
    font-size: 20px;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    gap: 8px;

}

.fillter-team-ocupation {
    color: var(--font-secondary-color);
    /* Body */
    font-family: var(--font-text);
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}


.fillter-social-list {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;

}

.fillter-social-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.fillter-sm-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--brand-color);
}

.fillter-sm-icon:hover,
.fillter-sm-icon:focus {
    background-color: var(--background-fourth-color);
    border-radius: 50%;
}

.fillter-social {
    margin: 12px;
    width: 16px;
    height: 16px;
}

.fillter-ftr-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--brand-color);
}

.fillter-ftr-social {
    margin: 8px;
    width: 24px;
    height: 24px;
}

.fillter-ftr-icon:hover,
.fillter-ftr-icon:focus {
    border-radius: 50%;
    background-color: var(--background-sixth-color);
}

.fillter-customers-section {
    padding: 120px 0;
}

.fillter-customers {
    text-align: center;
    margin-bottom: 72px;
    color: var(--font-main-color);
    /* Header 2 */
    font-family: var(--font-text);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.03em;
}

.fillter-bottom-ul {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.fillter-cms-icon {
    border-radius: 4px;
    border: 1px solid var(--lightslate, #8E8F99);
    cursor: pointer;
}

.fillter-bottom-icons {
    display: block;
    justify-content: center;
    width: 168px;
    height: 88px;
    padding: 16px 32px;
    fill: var(--border-secondary-color);
}


.fillter-bottom-icons:hover,
.fillter-bottom-icons:focus,
.fillter-cms-icon:hover,
.fillter-cms-icon:focus {
    border-color: var(--background-fourth-color);
    fill: var(--background-fourth-color);

}

menu,
li {
    list-style-type: none;
}

.fillter-item>.button {
    color: var(--brand-color);
    text-align: inherit;
    /* Button Text */
    font-family: var(--font-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.64px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--cornflower, #E7E9FC);
}

.social-links {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-emphasis: none;
    text-decoration: none;
    font-family: var(--font-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    gap: 24px;
    /* 150% */
    letter-spacing: 0.64px;
    padding-top: 96px;
    padding-left: 191px;
    padding-bottom: 72px;
    margin: 0;
}

.social-links button {
    padding: 12px 24px;
    border-radius: 4px;
    border: none;
    background: var(--background-secondary-color);
}

.portfolio-list {
    padding-bottom: 120px;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
    background: var(--background-main-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px 24px;

}

.border-box {
    border: 1px solid var(--cornflower, #E7E9FC);
    padding: 32px 16px;
    margin: 0;
    border-top: none;
}

.portfolio-list-hover {
    cursor: pointer;
}

.portfolio-list li {
    border-radius: 0px 0px 4px 4px;
    border: none
}

.portfolio-list li .fillter-portfolio-text {
    gap: 32px;
}

.fillter-portfolio-maintext {
    display: flex;
    flex-direction: row;
    color: var(--font-main-color);
    margin: 0;
    /* Header 3 */
    font-family: var(--font-text);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.4px;
    flex-shrink: 0;
    background: var(--background-main-color);
    flex-wrap: nowrap;
}

.fillter-portfolio-sidetext {
    display: flex;
    flex-direction: row;
    width: fit-content;
    color: var(--font-secondary-color);
    margin-top: 8px;
    /* Body */
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
}

.fillter-bottom-section {
    padding: 100px 0;
    background: var(--font-main-color);
}

.fillter-bottom-section ul {
    display: inline-flex;
    justify-content: center;
}

.fillter-bottom-studio {
    display: flex;
    width: 44px;
    color: var(--brand-color);
    font-family: var(--font-heading);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.fillter-footer-name {
    display: flex;
    width: 71px;
    flex-direction: column;
    justify-content: left;
    color: var(--background-secondary-color);
    font-family: var(--font-heading);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.fillter-footer-info {
    width: 264px;
    color: var(--background-secondary-color);
    /* Body */
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    margin-top: 16px;

}

.fillter-footer-info-pos {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.fillter-sm-heading {
    padding-left: 120px;
}

.fillter-bottom-section-logo {
    padding-bottom: 100px;
}

.fillter-studio-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
}

.fillter-img {
    display: flex;
    gap: 24px;
}

.fillter-studio-paragraph {
    display: flex;
    padding: 0px 0px 72px 0px;
    color: var(--font-main-color);
    text-align: center;
    /* Header 2 */
    font-family: var(--font-text);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    justify-content: center;
}

.fillter-paragraph-info {
    width: 264px;
    padding: 0px 0px 0px 0px;
    color: var(--font-secondary-color);
    /* Body */
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.fillter-bottom-social {
    display: flex;
    justify-content: center;
}

.fillter-social-heading {
    color: var(--background-main-color);
    /* Body Medium */
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.fillter-socialmedia-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 120px;
    padding-bottom: 43px;
    gap: 16px;
}

.fillter-footer-social-links {
    cursor: pointer;
    gap: 16px;
    padding: 0px 0px 0px 0px;

}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(46, 47, 66, 0.4);
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: var(--border-main-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: var(--background-third-color);
}

.close-btn-svg {
    padding: 7px 7px;
    max-width: 24px;
    max-height: 24px;
}

.close-btn:hover,
.close-btn:focus {
    background-color: var(--background-fourth-color);
    fill: var(--background-secondary-color);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    height: 584px;
    border-radius: 4px;
    background: var(--dairy);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.modal-form-size {
    width: 360px;
    height: 336px;
    padding-left: 24px;

}

.modal-id {
    color: var(--border-secondary-color);
    /* Small Text */
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.48px;
    display: block;
    padding-bottom: 8px;
}

.modal-form-head {
    width: 360px;
    color: var(--background-third-color);
    text-align: center;
    /* Body Medium */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    margin-top: 72px;
}

.modal-form {
    width: 360px;
}

.inputs {
    width: 300px;
}

.input-size-modal {
    position: absolute;
    width: 360px;
    height: 40px;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid var(--modal);
    padding-left: 38px;
}


.input-size-modal:focus {
    border: 1px solid var(--brand-color);
}

.input-size-modal:focus+svg {
    fill: var(--brand-color);
}

.input-text-modal {
    /* Small Text */
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.48px;
    width: 360px;
    height: 120px;
    margin-bottom: 16px;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid var(--modal);
    padding: 8px 8px;
}

.input-text-modal::placeholder {
    color: var(--modal);
}


.input-text-modal:focus {
    border: 1px solid var(--brand-color);
}

.lbl-size {
    position: relative;
    width: 338px;
    height: 58px;
    transform: var(--transition);
    outline: transparent;
    margin-bottom: 8px;
}

.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.is-hidden .modal {
    scale: 0;
}

.trn-hover {
    display: block;
    position: relative;
    overflow: hidden;
}

.trn-description {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background: var(--brand-color);
    transition: transform var(--transition);
}

.trn-slider {
    color: var(--background-secondary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 40px 32px 164px;
}

.portfolio-list-hover:hover .trn-description {
    transform: translateY(0);
}

.sub-form {
    display: flex;
    align-items: flex-end;
}

.subscribe-input {
    display: flex;
}

.sub-name {
    color: var(--background-main-color);
    /* Body Medium */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
    padding-bottom: 16px;
}

.lbl-sub {
    margin-left: 80px;
}

.subscribe-ftr {
    color: var(--background-main-color);
    width: 264px;
    height: 40px;
    background: transparent;
    border-radius: 4px;
    border: 1px solid var(--white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 8px;
}

.subscribe-ftr::placeholder {
    padding-top: 16px;
    color: var(--background-main-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 2.0;
    /* 200% */
    letter-spacing: 0.48px;
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-main-color);
    text-align: center;
    /* Button Text */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.64px;
    width: 165px;
    height: 40px;
    border-radius: 4px;
    background: var(--brand-color);
    cursor: pointer;

}

.sub {
    margin-left: 6px;
}

.subscribe-svg {
    margin-left: 16px;
}

.modal-icon {
    position: absolute;
    transform: var(--transition);
}

label::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
}

.modal-input:checked+.modal-con>.check__box {
    fill: var(--background-fourth-color);
    border: none;
    border-radius: 2px;
    transition: background-color var(--transition);
}


.vis-hid {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal-svg {
    position: absolute;
    margin: 11px 16px;
    fill: var(--background-third-color);
}


.modal-con {
    display: inline-flex;
    align-items: center;
    margin-bottom: 16px;
    color: var(--border-secondary-color);
    /* Small Text */
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.04em;
    gap: 8px;
}


.modal-checkbox {
    border-radius: 2px;
    width: 16px;
    height: 16px;
    transition: background-color var(--transition);
}

.check__box {
    fill: var(--background-secondary-color);
    align-items: center;
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid var(--modal);
    border-radius: 2px;
}

.modal-p {
    color: var(--brand-color);
    text-decoration-line: underline;
}


.send-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169px;
    height: 58px;
    border-radius: 4px;
    background: var(--brand-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin-left: 97px;
}

.sub-btn {
    color: var(--background-main-color);
    text-align: center;
    /* Button Text */
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
    cursor: pointer;
}

.send-btn:hover,
.sub-btn:hover,
.send-btn:focus,
.sub-btn:focus {
    background-color: var(--background-fourth-color);
}
.menu-toggle {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

.ham-icon {
    max-width: 32px;
    max-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: var(--font-main-color);
}

.manu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 40px;
    background-color: var(--background-main-color);
    z-index: 999;
    visibility: hidden;
    transform: translateX(0%);
    transition: transform 250ms var(--transition);
}

.manu-container.is-open {
    transform: translateX(100%);
    visibility: visible;
}

.mobile-menu .link {
    display: block;
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111;
    letter-spacing: 0.72px;
    color: var(--font-main-color);
    margin-bottom: 40px;
}

.mobile-menu:active,
.mobile-active:active {
    color: var(--brand-color);
}

.mobile-menu {
    padding: 0;
    margin-top: 80px;
    list-style: none;
}

.mobile-tel {
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111;
    letter-spacing: 0.72px;
    color: var(--brand-color);
    margin-bottom: 40px;
}

.mobile-mail {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--font-secondary-color);
}

.mobile-social {
    display: flex;
    max-width: 328px;
    margin-top: 48px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.social-mobile-icon {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--brand-color);
    transition: background-color var(--transition);
}

.mobile-menu-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between
}

.menu-container.manu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    color: #fff;
    background-color: var(--border-main-color);
    fill: var(--font-main-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-btn-ftr {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--border-main-color);
}
