@media screen {
    .container {
        max-width: 480px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (min-width: 480px) {
    .container {
        max-width: 768px;
        display: flex;
            justify-content: center;
            flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1159px;
        display: flex;
            justify-content: center;
            flex-direction: column;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        display: flex;
            justify-content: center;
            flex-direction: column;
    }
}
/*Mobile*/
@media (max-width: 479px) {
    .fillter-web-links,
    .fillter-contact-links {
        display: none;
    }    

    .side-info {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 96px;
    }    

    .fillter-icons-list {
        display: none;
        background-color: none;
    }    

    .fillter-row-info {
        display: flex;
        align-items: center;
        margin-bottom: 72px;
    }    

    .fillter-studio-info {
        display: none;
    }
}        
@media (max-width: 479px) {
    .fillter-team-info {
        display: flex;
        flex-direction: column;
    }    

    .fillter-customers-section ul {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
    }
}        
@media (max-width: 479px) {
    .footer {
        display: flex;
        flex-direction: column;
    }    
    .footer li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }    
    .fillter-sm-heading {
        padding: 0;
        margin-top: 72px;
        text-align: center;
    }    
    .subscribe-input .sub-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
    .lbl-sub {
        margin-top: 72px;
        margin-left: 0;
        text-align: center;
    }    
    .subscribe-ftr {
        width: 398px;
    }    
    .sub {
        margin-top: 24px;
        margin-left: 0;
    }
}
@media (max-width: 479px) {
    .fillter-paragraph {
        display: flex;
        justify-content: center;
    }

    .fillter-paragraph-info {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .fillter-business {
        width: 320px;
        font-size: 36px;
        letter-spacing: 0.72px;
    }

    .head-links {
        display: flex;
        flex-direction: row;
        gap: 175px;
    }

    .fillter-cms-icon {
        width: 168px;
        height: 88px;
        gap: 72px 16px;
    }
    .js-container.is-open {
        translate: none;
    }
                
    .js-menu-container {
        position: fixed;
        inset: 0;
        translate: -100% 0 0;
        transition: translate var(--transition);
        width: 100vw;
        height: 100vh;
        background-color: var(--background-main-color);
    }
    .fillter-bottom-section {
        width: auto;
    }
}

@media (min-width: 480px) {
    .fillter-web-links,
    .fillter-contact-links {
        display: none;
    }    

    .side-info {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 96px;
    }    

    .fillter-icons-list {
        display: none;
        background-color: none;
    }    

    .fillter-row-info {
        display: flex;
        align-items: center;
        margin-bottom: 72px;
    }    

    .fillter-studio-info {
        display: none;
    }
}        
@media (min-width: 480px) {
    .fillter-team-info {
        display: flex;
        flex-direction: column;
    }    

    .fillter-customers-section ul {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, auto);
    }
}        
@media (min-width: 480px) {
    .footer {
        display: flex;
        flex-direction: column;
    }    
    .footer li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }    
    .fillter-sm-heading {
        padding: 0;
        margin-top: 72px;
        text-align: center;
    }    
    .subscribe-input .sub-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
    .lbl-sub {
        margin-top: 72px;
        margin-left: 0;
        text-align: center;
    }    
    .subscribe-ftr {
        width: 398px;
    }    
    .sub {
        margin-top: 24px;
        margin-left: 0;
    }
}
@media (min-width: 480px) {
    .fillter-paragraph {
        display: flex;
        justify-content: center;
    }

    .fillter-paragraph-info {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .fillter-business {
        width: 320px;
        font-size: 36px;
        letter-spacing: 0.72px;
    }

    .head-links {
        display: flex;
        flex-direction: row;
        gap: 175px;
    }

    .fillter-cms-icon {
        width: 168px;
        height: 88px;
        gap: 72px 16px;
    }
    .js-container.is-open {
        translate: none;
    }
                
    .js-menu-container {
        position: fixed;
        inset: 0;
        translate: -100% 0 0;
        transition: translate var(--transition);
        width: 100vw;
        height: 100vh;
        background-color: var(--background-main-color);
    }
    
}

/*Table*/
@media (min-width: 768px) {
    .fillter-web-links {
        display: inline-flex;
    }    
    .head-links .menu-toogle,
    .ham-icon {
        display: none;
    }    

    .head-links {
        gap: 0;
        max-height: 72px;
    }    

    .page-header .menu-container {
        margin: 0;
        padding: 0;
    }    

    .fillter-contact-links {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-left: 121px;
        gap: 12px;
    }    

    .fillter-links {
        padding: 28px 0;
    }
}
        
@media (min-width: 768px) {
    .fillter-business {
        width: 496px;
        font-size: 56px;
        letter-spacing: 1.12px;
        }

    .side-info {
        display: grid;
        grid-template-columns: repeat(2, auto);
        }

    .fillter-paragraph {
        font-size: 36px;
        display: flex;
        justify-content: start;
    }
}
@media (min-width: 768px) {
    .fillter-row-info {
        display: flex;
        align-items: flex-start;
    }    

    .fillter-team-info {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, auto);
        gap: 64px 24px;
            justify-items: center;
    }        

    .fillter-social-img {
        max-width: 264px;
    }    

    .fillter-customers-section .fillter-bottom-ul {
        display: grid;
        align-items: center;
        justify-items: flex-end;
        grid-template-columns: repeat(3, auto);
    }    

    .footer {
        background-color: var(--background-third-color);
        padding-top: 97.5px;
        padding-bottom: 96px;
        max-width: 768px;
        margin-inline: auto;
    }    

    .fillter-sm-heading {
        display: flex;
        flex-direction: column;
        margin: 0;
        text-align: left;
    }    

    .subscribe-input .sub-form {
        display: inline-flex;
        flex-direction: row;
        align-items: end;
    }    
        
    .sub {
        text-align: left;
    }
        
    .subscribe-ftr {
        max-width: 264px;
    }
        
    .lbl-sub {
        margin-top: 0;
        padding-right: 24px;
    }
    .footer li {
        display: flex;
        align-items: flex-start;
    }
    .sub-name {
        text-align: left;
    }
    .subscribe-input {
        margin-right: 45px;
    }
    .fillter-bottom-section-logo {
        max-width: 264px;
        position: relative;
    }
    .fillter-footer-icons-list {
        max-width: 208px;
        gap: 24px;
        position: relative;
        left: 300px;
        bottom: 109px;
    }
    .fillter-cms-icon {
        width: 168px;
        height: 88px;
        display: flex;
        align-items: center;
    }
}
/*Desktop*/
@media (min-width: 1200px) {
    .fillter-contact-links {
        display: inline-flex;
        flex-direction: row;
        margin-left: 224px;
    }
    .side-info {
        display: inline-flex;
        flex-direction: row;
    }
    .fillter-icons-list {
        display: flex;
        align-items: center;
        background-color: var(--background-secondary-color);
    }
    .fillter-paragraph {
        font-size: 20px;
    }
    .fillter-team-info {
        display: inline-flex;
        flex-direction: row;

    }
    .fillter-customers-section .fillter-bottom-ul {
        display: inline-flex;
        flex-direction: row;
        max-width: 1200px;
    }
    .lbl-sub {
        margin-top: 0;
    }
    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        min-width: 1200px;
    }
    .head-links {
        display: flex;
        flex-direction: row;
        gap: 0;
        margin: 0;
    }
    .fillter-logo-links {
        padding: 0;
        margin-right: 76px;
    }
    .fillter-studio-info {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
    }
}
@media (min-width: 1200px) {
    .container {
        min-width: 1159px;

    }
    .fillter-bottom-section-logo {
        margin-right: 120px;
        position: unset;
        
    }
    .fillter-footer-icons-list {
        position: unset;
    }
    .ftr-input {
        margin-left: 80px;
    }
    .fillter-web-links {
        margin-right: 78px;
    }
    
}
/*Desktop*/
@media screen and (min-width: 1200px) {
    .main-info {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('/goit-markup-hw-07/images/mobile/1-dark-bg.png');
    }
}
/*Tablet*/
@media screen and (min-width: 768px) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('/goit-markup-hw-07/images/mobile/1-dark-bg.png');
    background-size: cover;
    height: 436px;
    max-width: 1200px;
  }
}
/*Mobile*/
@media screen and (max-width: 768px) and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-info {
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('/goit-markup-hw-07/images/office-people.jpg');
    background-size: cover;
  }
}