ol[class],
ul[class] {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

img {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    padding: 0;
    border: 0;
    text-decoration: none;
    appearance: none;
    background-color: transparent;
}